<?php
/**
 * @var $this Regento_Regento_Block_Modalbox
 */
?>
<div id="loginModal" class="reveal-modal large">
    <div class="twelve columns">
        <?php echo $this->getChildHtml('modal_login_form'); ?>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>