<div class="bottom-static-row row-1">
    <div class="static-block block-1">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_1'); ?>
        </div>
    </div>
    <div class="static-block block-2">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_2'); ?>
        </div>
    </div>
    <div class="static-block block-3">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_3'); ?>
        </div>
    </div>
</div>
    
<div class="row description-row">  
    <div class="content">
    <?php echo  $this->getChildHtml('regento_bottom_seo'); ?>
    </div>
</div>

<div class="bottom-static-row row-2">
    <div class="static-block block-4">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_4'); ?>
        </div>
    </div>
    <div class="static-block block-5">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_5'); ?>
        </div>
    </div>       
    <div class="static-block block-6">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_6'); ?>
        </div>
    </div>
    <div class="static-block block-7">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_7'); ?>
        </div>
    </div>
</div>

<div class="bottom-static-row row-3">
    <div class="static-block block-8">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_8'); ?>
        </div>
    </div>
    <div class="static-block block-9">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_9'); ?>
        </div>
    </div>
</div>

<div class="bottom-static-row row-4">
    <div class="static-block block-10">
        <div class="content">
            <?php echo $this->getChildHtml('regento_bottom_static_block_10'); ?>
        </div>
    </div>    
</div>

<div class="bottom-static-row row-5"></div>