<!--<div class="magellan-nav">
    <div class="twelve columns">
        <dl data-magellan-expedition='fixed' class="magellan sub-nav">               
            <dd data-magellan-arrival='product-info' class="active"><a href="#">Top</a></dd>
            <dd data-magellan-arrival='other-info'><a href="#">Other Info </a></dd>
        </dl>
    </div>
</div>-->