<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar_bottom">
    <div class="inner">
        <div class="col-1">
            <p class="amount">
                <?php if ($this->getLastPageNum() > 1): ?>
                    <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
                <?php else: ?>
                    <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
                <?php endif; ?>
            </p>
        </div>

        <div class="col-2 pagination">
            <?php echo $this->getPagerHtml() ?>
        </div>
    </div>    
</div>
<?php endif; ?>