/* Bottom Static Blocks ================================================================== */
.bottom-static-row{
  &.row-1{}
  &.row-2{}
  &.row-3{}
  &.row-4{}
}
.static-block{
  h4{ color:$mainColor; border-bottom:1px solid $mainColor; }
  &.block-1{
    .content{}
  }
  &.block-2{
    .content{}
  }
  &.block-3{
    .content{}
  }
  &.block-4{
    .content{}
  }
  &.block-5{
    .content{}
  }
  &.block-6{
    .content{}
  }
  &.block-7{
    .content{}
  }
  &.block-8{
    .content{}
  }
  &.block-9{
    .content{}
  }
  &.block-10{
    .content{}
  }
}
/* ======================================================================================= */