/* Checkout ============================================================================== */
/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods { }
.sp-methods dt { }
.sp-methods dd { }
.sp-methods dd li { }
.sp-methods label { display: inline;}
.sp-methods .price { }
.sp-methods .form-list { }
.sp-methods .form-list li { }
.sp-methods select.month { }
.sp-methods select.year { }
.sp-methods input.cvv { }

.sp-methods .checkmo-list li { }
.sp-methods .checkmo-list label { }
.sp-methods .checkmo-list address { }

.sp-methods .centinel-logos a { }
.sp-methods .centinel-logos img { }

.sp-methods .release-amounts { }
.sp-methods .release-amounts button { }

.please-wait { }
.please-wait img { }
.cvv-what-is-this { }

/* Tooltip */
.tool-tip { }
.tool-tip .btn-close { }
.tool-tip .btn-close a { }
.tool-tip .tool-tip-content { }

/* Gift Messages */
.gift-messages h3 { }
.gift-messages p.control { }
.gift-messages-form { }
.gift-messages-form label { }
.gift-messages-form h4 { }
.gift-messages-form .whole-order { }
.gift-messages-form .item { }
.gift-messages-form .item .product-img-box { }
.gift-messages-form .item .product-image { }
.gift-messages-form .item .number { }
.gift-messages-form .item .details { }
.gift-messages-form .item .details .product-name { }
.gift-messages-form .item .details .form-list .field { }
.gift-messages-form .item .details .form-list .input-box { }
.gift-messages-form .item .details .form-list input.input-text { }
.gift-messages-form .item .details .form-list li.wide .input-box { }
.gift-messages-form .item .details .form-list li.wide textarea { }

.gift-message-link { }
.gift-message-link.expanded { }
.gift-message-row { }
.gift-message-row .btn-close { }

/* Checkout Agreements */
.checkout-agreements li { }
.checkout-agreements .agreement-content { }
.checkout-agreements .agree { }
.checkout-agreements .agree input.checkbox { }
.checkout-agreements .agree label { }

.opc .checkout-agreements { }
.opc .checkout-agreements li { }
.opc .checkout-agreements .agreement-content { overflow: auto; margin-bottom: 15px; border-bottom: 1px solid #ddd; }
.opc .checkout-agreements .agree { }

/* Centinel */
.centinel { }
.centinel .authentication { }
.centinel .authentication iframe { }

.opc .centinel { }

/* Generic Info Set */
.info-set { }
.info-set h2 { }
.info-set h3,
.info-set h4 { }
.info-set h2 a,
.info-set h3 a,
.info-set h4 a { }
.info-set h2.legend { }
.info-set h3.legend { }
.info-set .divider { }
.info-set .box { }
.info-set .box h2 { }
.info-set .data-table .product-name { }
.info-set .data-table .product-name a { }
.info-set .data-table .item-options { }
/********** Common Checkout Styles > */

/* One Page Checkout */
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:ms(0); color:#0a263c; }
.block-progress .block-content { background:none; }
.block-progress dt {  font-weight:bold; line-height:1.35; background:#eee; border:1px solid #a3aeb3; margin:0 0 6px; padding:2px 8px; color:#999; }
.block-progress dd { background:#fafafa; border:1px solid #ddd; border-top:0; padding:8px 13px; margin:0 0 6px; }
.block-progress dt.complete { margin:0; background:#f5f5f5; color:black; }
.block-progress dd.complete {}
.block-progress p { margin:0; }
.block-progress .cards-list dt { background:none; border:0 none; color:inherit; font-size:ms(0); margin:5px 0; padding:0; }
.block-progress .cards-list dd { border:0 none; margin:0; padding:0; }
.block-progress .cards-list .info-table th { font-weight:normal; }

.opc .buttons-set { margin-top:0; padding-top:2em; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a { background:url(../images/i_arrow-top.gif) 0 50% no-repeat; padding-left:16px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc { position:relative; }
.opc li.section {}

.opc fieldset{border:none;}
.form-list li.control input.radio, .form-list li.control input.checkbox{float:left;}
.opc label{display: inline;}

.opc .step-title { border-width:0 1px; border-style:solid; border-color:#fff #d9dde3 #d9dde3; background:#eee url(../images/bkg_opc-title-off.gif) 0 100% repeat-x; padding:4px 8px 6px; text-align:right; }
.opc .step-title .number { float:left; background:#fff; border:1px solid #fff; padding:0 4px; margin:0 5px 0 0; font:bold 11px/14px arial, helvetica, sans-serif; color:#999; }
.opc .step-title h2 { float:left; margin:0; font:bold 13px/16px Arial, Helvetica, sans-serif; color:#999; }
.opc .step-title a { display:none; float:right; font-size:ms(0); line-height:16px; }

.opc .allow .step-title { background:#d0dce1; border:1px solid #a3aeb3; border-bottom:0; color:#a4b3b9; cursor:pointer; }
.opc .allow .step-title .number { background:#dbe6eb; border-color:#dbe6eb; color:#a4b3b9; }
.opc .allow .step-title h2 { color:#a4b3b9; }
/*.opc .allow .step-title a { display:block; }*/

.opc .active .step-title { background:#f5f5f5; border:1px solid #ddd; padding-bottom:5px; color:gray; cursor:default; }
.opc .active .step-title .number { background:silver; border-color:#ddd; color:#fff; }
.opc .active .step-title h2 { color:gray; }
/*.opc .active .step-title a { display:none; }*/

.opc .step { border:1px solid #ddd; border-top:0; background:#fafafa; padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-login .buttons-set { border-top:0; }
#opc-login h3 {  border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }
#opc-login h4 {  font-weight:bold; margin:0; color:#2f2f2f; }

#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .step { border:0; padding:0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 30px; border:1px solid #d9dde3; border-width:0 1px 1px; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }

/* Multiple Addresses Checkout */
.checkout-progress { }
.checkout-progress li { }
.checkout-progress li.active { }

.multiple-checkout h2 { }
.multiple-checkout h3,
.multiple-checkout h4 { }
.multiple-checkout h2 a,
.multiple-checkout h3 a,
.multiple-checkout h4 a { }
.multiple-checkout .data-table .product-name { }
.multiple-checkout .data-table .product-name a { }
.multiple-checkout .data-table .item-options { }

.multiple-checkout .gift-messages { }

.multiple-checkout .tool-tip { }

.multiple-checkout .col2-set,
.multiple-checkout .col3-set { }
.multiple-checkout .col2-set h2.legend { }
.multiple-checkout .col2-set h3.legend { }
.multiple-checkout .col2-set .divider { }
.multiple-checkout .box { }
.multiple-checkout .box h2 { }

.multiple-checkout .place-order .please-wait { }
.multiple-checkout .place-order .grand-total { }
.multiple-checkout .place-order .grand-total .inner { }
.multiple-checkout .place-order .grand-total .inner div { }
.multiple-checkout .place-order .grand-total big { }
.multiple-checkout .place-order .grand-total .price { }
.multiple-checkout .place-order .grand-total button.button span { }
.multiple-checkout .place-order .grand-total button.button span span { }

/* Step 1 */
.multiple-checkout .title-buttons button.button span { }
#multiship-addresses-table td { }
#multiship-addresses-table tfoot td { }
#multiship-addresses-table tfoot button.button span { }

/* Step 2 */
.multiple-checkout .gift-messages-form .item .details .form-list { }
.multiple-checkout .gift-messages-form .item .details .form-list li { }
.multiple-checkout .gift-messages-form .item .details .form-list .field { }
.multiple-checkout .gift-messages-form .item .details .form-list .input-box { }
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text { }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box { }
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea { }
.checkout-multishipping-shipping .box-sp-methods { }
.checkout-multishipping-shipping .box-sp-methods .pointer { }

/* Step 3 */
.checkout-multishipping-billing .multiple-checkout { }
/* ======================================================================================= */