/* Footer ================================================================================ */
.footer-container { padding-top:10px; background-color: $footerBgColor;}
.footer { color:$footerFontColor;  }
.footer .store-switcher { }
.footer .store-switcher label { }
.footer .store-switcher select { }
.footer a { color:$footerFontColor; }
.footer a:hover { text-decoration: underline; }
.footer .bugs { display:inline-block; }
.footer .bugs a { }
.footer .bugs a:hover { }
.footer address { display:inline-block;}
.footer address a { }
.footer address a:hover { }
.footer ul { }
.footer ul.links { }
.footer li { }
.footer li.last { }
.footer-container .bottom-container { }
.footer{ padding-top:10px;}

#scroll-to-top{
  background-color: $secondaryColor;
  @include border-radius(50px);
  bottom: 30px; right: 30px;
  display: none; position: fixed;
  height: 50px; width: 50px;
  text-align: center; z-index: 9999;
  @include transition(all 0.15s linear);
  .arrow{
    @include cssTriangle(15px, black, bottom);
    display:inline-block;
  }
}

#scroll-to-top:hover{
  background-color: $mainColor;
  .arrow{
    @include cssTriangle(15px, white, bottom);
    display:inline-block;
  }
}
/* ======================================================================================= */