/* Header ================================================================================ */
header{
  @include respondTo(smallScreen){
    text-align: center;
    #top-cart, .top-search{margin-top:5px; text-align: center;}
  }
}

.logo { }
.header-container { }
.header { padding:5px 0; }
.header .logo { }
.header .logo img{height:64px; width:auto; @include respondTo(smallScreen){height:150px;}}
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden;  }
.header h1.logo { margin:0; }
.header .quick-access { }
.header .welcome-msg { }
.header .welcome-msg a { }
.top-search{ margin-top: 15px; form{ padding:0; margin:0;} }
#search_mini_form .form-search{}
#top-cart{ margin-top: 10px; text-align: right; p{margin:0; padding:0;} i{@include font-size(26); vertical-align:middle; margin:5px;} }
.header .form-search { }
.header .form-search label { }
.header .form-search input.input-text { }
.header .form-search button.button { }
.header .form-search button.button span { }
.header .form-search button.button span span { }
.header .form-search .search-autocomplete { background-color: $white; z-index:999999; }
.header .form-search .search-autocomplete ul { }
.header .form-search .search-autocomplete li { cursor: pointer; padding:2px 8px 1px; text-align: left; }
.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .form-search .search-autocomplete li.odd { }
.header .form-search .search-autocomplete li.selected { color:white; background-color:#333;}
.header .form-language { }
.header .form-language label { }
.header .form-language select { }
.header .form-language select.flags option { }
.header .links { }
.header .links li { }
.header .links a { }
.header-container .top-container { }
.header-container .top-container a { }

/* Topbar */
@media only screen and (min-width: 941px){
  .top-bar .name{ h1{ display: none;} }
}

/**********<  Top Header */
.top-header { background-color: $white; margin-bottom: 5px; padding: 0; }
.top-header a, .top-header p { text-transform: lowercase; font-size: ms(0)-1; line-height: 14px; margin: 0; padding: 0; }

/**********<  User Menu */
@mixin userMenuFontSize(){
  @include font-size(12);
}
.promotions-txt-container{
  background-color:$gray;
  @extend .hide-for-small;
}
.promotions-txt{
  color:white; text-align: center;
  p{ @include userMenuFontSize; margin:5px; text-transform: uppercase; }
  .col-1{text-align: left; @include respondTo(smallScreen){text-align: center;} }
  .col-2{text-align: center;}
  .col-3{text-align: right; @include respondTo(smallScreen){text-align: center;} }
}

.user-menu { background-color: $mainColor; color:$white; padding:10px 0 0; color:$white;}
.user-menu .welcome-msg { @include userMenuFontSize; }
.user-menu a { color:$white; @include userMenuFontSize;}
.user-menu .links a {text-transform: capitalize; @include userMenuFontSize;}
.user-menu form { margin: 0; }
.user-menu .col-1{@include userMenuFontSize;  @include respondTo(smallScreen){text-align: center;} }
.user-menu .col-2{
  @include userMenuFontSize; text-align: right; .links{display:inline-block;}
  @include respondTo(smallScreen){text-align: center;}  .links { @extend .link-list; }
}
.user-menu p{ margin-bottom:5px; @include userMenuFontSize; }
.user-menu .button{@include userMenuFontSize;}
.user-menu .form-language{ display:inline; }

.button_search .button{}

.header ul.link-list li { text-transform: uppercase; font-size: 11px; margin-left: 15px; }

/********** < Navigation */
.nav-container { padding:0; }
#nav { }

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { }
#nav li.over { }
#nav a,
#nav a:hover { }
#nav span { }
#nav li ul span { }
#nav ul li.parent a { }
#nav ul li.parent li a { }

/* 0 Level */
#nav li { }
#nav li.active a { }
#nav a { }
#nav li.over a,
#nav a:hover { }

/* 1st Level */
#nav ul li,
#nav ul li.active { }
#nav ul li.last { }

#nav ul a,
#nav ul a:hover { }
#nav ul li a { }

/* 2nd Level */
#nav ul,
#nav div { }
#nav div ul { }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { }

#nav ul li a { }
#nav ul li a:hover { }
#nav ul li a,
#nav ul li a:hover { }
#nav ul span,
#nav ul li.last li span { }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { }
/********** Navigation > */
/* ======================================================================================= */
