/* Layout ================================================================================ */
.wrapper { }
.page { /*max-width: $rowWidth; margin: 0 auto; background-color: $white;*/ }
.page-print { }
.page-empty { }
.page-popup { }
.main-container { }
.main { }

/* Base Columns */
.col-left { }
.col-main { }
.col-right { }

/* 1 Column Layout */
.col1-layout .col-main { }

/* 2 Columns Layout */
.col2-left-layout .col-main { }
.col2-right-layout .col-main { }

/* 3 Columns Layout */
.col3-layout .col-main { }
.col3-layout .col-wrapper { }
.col3-layout .col-wrapper .col-main { }

/* Content Columns */
.col2-set .col-1 { }
.col2-set .col-2 { }
.col2-set .col-narrow { }
.col2-set .col-wide { }

.col3-set .col-1 { }
.col3-set .col-2 { }
.col3-set .col-3 { }

.col4-set .col-1 { }
.col4-set .col-2 { }
.col4-set .col-3 { }
.col4-set .col-4 { }
/* ======================================================================================= */
