/* Reset ================================================================================= */
* { }

body          { background-color: $bodyBgColor;}

img           { }

a             { color:$linksColor; }
a:hover       { color:$linksColorHover; }
:focus        { }

/* Headings */
h1,h2,h3,
h4,h5,h6      { font-family:"Raleway"; font-weight:300; }
h1            { }
h2            { }
h3            { }
h4            { }
h5            { }
h6            { }

/* Forms */
form          { }
fieldset      { border:none; margin:0; padding:0; }
legend        { }

/* Table */
table         { width:100%; }
caption,th,td { }

/* Content */
p             { }
strong        { }
address       { }
cite          { }
q,
blockquote    { }
q:before,
q:after       { }
small,big     { }
/*sup           { }*/

/* Lists */
ul,ol         { list-style-type: none; margin:0; padding:0; }

/* Tools */
.hidden       { visibility: hidden; }
.nobr         { @include inline-block; white-space: nowrap !important; }
.wrap         { }
.a-left       { }
.a-center     { }
.a-right      { }
.v-top        { }
.v-middle     { }
.f-left,
.left         { }
.f-right,
.right        { }
.f-none       { }
.f-fix        { }
.no-display   { }
.no-margin    { }
.no-padding   { }
.no-bg        { }
/* ======================================================================================= */
