/* Shopping Cart ========================================================================= */
.cart .page-title { }
.cart .page-title h1 { }

/* Checkout Types */
.cart .page-title .checkout-types li { }
.cart .title-buttons .checkout-types { }
.cart .title-buttons .checkout-types li { float:right;}
.cart .checkout-types .paypal-or { }
.cart .totals .checkout-types .paypal-or { }

/* Shopping Cart Table */
.cart-table th { }
.cart-table td { }
.cart-table .product-name { }
.cart-table .item-msg { }
.cart-table tfoot td { }
.cart-table .btn-continue { }
.cart-table .btn-empty span,
.cart-table .btn-continue span,
.cart-table .btn-update span { }
.cart-table .btn-update,
.cart-table .btn-empty { }
.cart-table .btn-update { float:right; }
.cart-table .label{ @extend .show-for-small; }

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { }
.cart .cart-collaterals .col2-set { }
.cart .cart-collaterals .col2-set .col-2 { }

.cart .crosssell { }
.cart .crosssell h2 { font-size:ms(4);}
.cart .crosssell .product-image { }
.cart .crosssell .product-details { }
.cart .crosssell .product-name { font-size: ms(2);}
.cart .crosssell li.item { }
.cart .crosssell .link-compare { }

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount,
.cart .shipping { }
.cart .discount h2,
.cart .shipping h2 { }
.cart .discount button span,
.cart .shipping button span { }
.cart .discount .buttons-set,
.cart .shipping .buttons-set { }
.cart .discount .buttons-set button.button,
.cart .shipping .buttons-set button.button { }

.cart .discount h2 { }
.cart .discount .input-box { }
.cart .discount input.input-text { }

.cart .shipping h2 { }
.cart .shipping .sp-methods { }

/* Shopping Cart Totals */
.cart .totals { }
.cart .totals table { }
.cart .totals td { }
.cart .totals tr.last td { }
.cart .totals tfoot th { }
.cart .totals tfoot td { }
.cart .totals tfoot th strong,
.cart .totals tfoot td strong { }
.cart .totals .checkout-types { }
.cart .totals .checkout-types li { }

/* Options Tool Tip */
.item-options dt { }
.item-options dd { }
.truncated { }
.truncated a.dots { }
.truncated a.details { }
.truncated .truncated_full_value { }
.truncated .truncated_full_value .item-options { }
.truncated .truncated_full_value .item-options > p { }
.truncated .show .item-options { }
.col-left .truncated .show .item-options { }
.col-right .truncated .show .item-options { }
/* ======================================================================================= */