.button.flat {
  //i like flat buttons!
  width: auto;
  background: $mainColor;
  border: none;

  @include box-shadow(0 0 0 $shinyEdge inset);
  @include single-transition(background-color, .15s, ease-in-out);

  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: ms(0);
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: $btnBase ($btnBase * 2) ($btnBase + 1);
  position: relative;
  text-align: center;
  text-decoration: none;
}

//override default foundation button
.button {
  @extend .button.flat;
}

.add-to-cart button.button {
  @extend .button.expand;
}

.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button {
  @extend .button.expand;
}

.new-users button.button { text-align: center; }