<div>
    <div class="eight columns">
        <img src="<?php echo $this->getSkinUrl('images/callouts/banner_hp_680x397.jpg') ?>" alt="callout_1" />
    </div>
    <div class="four columns">
        <img src="<?php echo $this->getSkinUrl('images/callouts/banner1_dx_hp.jpg'); ?>"  alt="callout_1"  />
        <img src="<?php echo $this->getSkinUrl('images/callouts/banner2_dx_hp.jpg'); ?>"  alt="callout_2"  />
        <img src="<?php echo $this->getSkinUrl('images/callouts/banner3_dx_hp.jpg'); ?>"  alt="callout_3"  />
    </div>
</div>