<?php
/**
 * Top menu for store
 * Modded menu adapted for Foundation Zurb
 *
 * @see Mage_Catalog_Block_Navigation
 * @var Regento_Regento_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
?>
<?php $_menu = $this->renderCategoriesMenuHtml(0, 'level-top') ?>
<?php if ($_menu): ?>
    <div class="nav-container">
        <div class="top-bar-container">
            <div class="inner">
                <nav class="top-bar" role="navigation">
                    <ul>
                        <li class="name">
                            <h1>
                                <a href="#" class="show-for-medium-down">
                                    Menu
                                </a>
                            </h1>
                        </li>
                        <li class="toggle-topbar"><a href="#"></a></li>
                    </ul>
                    <section>
                        <ul class="left">
                            <?php echo $_menu ?>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
<?php endif ?>
