//FOUNDATION ZURB COLORS
// Colors Settings

 $mainColor: #25abdc;
 $secondaryColor: #e9e9e9;
// $alertColor: #c60f13;
// $successColor: #5da423;
// $txtColor: #222;
// $highlightColor: #ffff99;
$black: #000;
$white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);
$gray:#6f6f71;

//Regento modified colors
$wrapperBgColor: '';
$bodyBgColor: '';
$mainPageColor: '';

$buttonsPrimaryColor: #25abdc;
$buttonsSecondaryColor: #1c87ae;
$buttonsTextColor: #fff;

$linksColor: '';
$linksColorHover: '';

$footerBgColor: $gray;
$footerFontColor: $white;

$navBarBackgroundColor: '';