/*!
        Regento®
        Il tuo framework template!
        @version 1.3.0 2012-2-19
        @author Valerio Masciotta <sviluppo@valeriomasciotta.it>
        @author Regento <http://www.regento.it>
*/

/* Layout ================================================================================ */
.wrapper { }
.page { }
.page-print { }
.page-empty { }
.page-popup { }
.main-container { }
.main { }
.inner-row{ @include innerRow(); }

/* Base Columns */
.col-left { @include column(3); @extend .hide-for-small; }
.col-main { @include column(9); }
.col-right {@include column(3); @extend .hide-for-small; }

/* 1 Column Layout */
.col1-layout .col-main { @include column(12);}

/* 2 Columns Layout */
.col2-left-layout .col-main { @include column(9); }
.col2-right-layout .col-main { @include column(9); }

/* 3 Columns Layout */
.col3-layout .col-main { @include column(6); }
.col3-layout .col-left { @include column(3); }
.col3-layout .col-right { @include column(3); }

.col3layout .col-wrapper { }
.col3layout .col-wrapper .col-main { }

.regento-homepage .col-main{ @include column(12); }

/* Content Columns */
.col2-set .col-1 { @include column(6); }
.col2-set .col-2 { @include column(6); }
.col2-set .col-narrow { }
.col2-set .col-wide { }

.col3-set .col-1 { @include column(4); }
.col3-set .col-2 { @include column(4); }
.col3-set .col-3 { @include column(4); }

.col4-set .col-1 { @include column(3); }
.col4-set .col-2 { @include column(3); }
.col4-set .col-3 { @include column(3); }
.col4-set .col-4 { @include column(3); }

/* Breadcrumbs */
.breadcrumbs-container{
  @include outerRow();
  .inner{
    @include column(12);
  }
}

/*Main Section*/
.main-section{ @include outerRow();}

/* Static Bottom Blocks */
.bottom-static-row{
  @include outerRow();
  &.row-1{}
  &.row-2{}
  &.row-3{}
  &.row-4{}
}
.static-block{
  &.block-1{
    @include column(4);
    .content{}
  }
  &.block-2{
    @include column(4);
    .content{}
  }
  &.block-3{
    @include column(4);
    .content{}
  }
  &.block-4{
    @include column(3);
    .content{}
  }
  &.block-5{
    @include column(3);
    .content{}
  }
  &.block-6{
    @include column(3);
    .content{}
  }
  &.block-7{
    @include column(3);
    .content{}
  }
  &.block-8{
    @include column(6);
    .content{}
  }
  &.block-9{
    @include column(6);
    .content{}
  }
  &.block-10{
    @include column(12);
    .content{}
  }
}

/* Header & User Menu*/
.promotions-txt{@include outerRow();}

.user-menu {
  width:100%;
  .inner{
    @include outerRow();
    .col-1{@include column(6);}
    .col-2{@include column(6);
    .link-list{margin-bottom:0;}
    }
  }
}
.header-container {
  @include outerRow();
  .col-1{ @include column(3); @include mobileRow(); }
  .col-2{ @include column(3); @include push(6); @include mobileRow(); @include mobilePush(0); }
  .col-3{ @include column(6); @include pull(3); @include mobileRow(); @include mobilePush(0);}
}

/* Navigation */
.nav-container{
  .top-bar-container{
    @include outerRow();
    .inner{ @include column(12); }
  }
}

/* Cookie EU */
#cookies-eu{ @include outerRow(); }
/* ======================================================================================= */

/* Mini Search Form */
#search_mini_form .form-search{@include innerRow(collapse);}
#search_mini_form .input_search{@include column(8,collapse);}
#search_mini_form .button_search{@include column(4,collapse);}

/*Forms*/
.form-list .fields{ @include innerRow(); }
.form-list .field{ @include column(6); }

/* Global Styles ========================================================================= */
/* Toolbar */
.toolbar {
  @include innerRow(); margin-bottom: 5px; padding: 5px;
  /* Pager */
  .pager { @include column(4); @include mobileColumn(4); }
  .pager .limiter { @include column(12,collapse);}

  /* Sorter */
  .sorter {
    @include column(8);
    .inner { @include innerRow(); }
  }
  .sorter .view-mode {@include column(6); @include mobileColumn(2); }
  .sorter .sort-by { @include column(6); @include mobileColumn(2); }
}

/*Toolbar bottom*/
.toolbar_bottom{
  .inner{
    @include innerRow();
    .col-1{ @include column(4); @include mobileColumn(2);}
    .col-2{ @include column(8,center);}
  }
}

/*Account login*/
.account-login-persistent{
  @include innerRow();

  .column-left{ @include column(7); }
  .column-right{ @include column(5); }
}

/* Catalog Category view*/
.category-title {
  @include innerRow(collapse);
  .inner{ @include column(12); }
}

/* Products - Grid */
.products-grid-container { @include column(12); }

/* Products - List */
.products-list article{
  @include innerRow();
  .col-1{ @include column(5); }
  .col-2{ @include column(7); }
}

.product-essential { @include innerRow();}

/* Product View */
.product-collateral { @include column(12); }
.product-view .product-shop-container { @include column(7); @include push(4); @include mobilePush(0); }
.product-view .product-img-container { @include column(4); @include pull(7); @include mobilePull(0); }

.product-view .product-shop .short-description-container { @include innerRow();  }
.product-view .product-shop .short-description { @include column(12); }

.add-to-cart{
  @include innerRow(collapse);
  .col-1{ @include column(1,collapse); @include mobileColumn(2,collapse); }
  .col-2{ @include column(1,collapse); @include mobileColumn(2,collapse); }
  .col-3{ @include column(9); @include mobileColumn(4,collapse); }
}

.add-to-links-container{
  @include innerRow();
  .inner{
    @include column(9); @include offsetBy(3);
    .add-to-links{
      @include innerRow();
      .col-1{ @include column(6);}
      .col-2{ @include column(6);}
    }
  }
}

/* Cart */
.cart-collaterals{
  .col2-set{
    @include column(8);
    .col-1{@include column(6);}
    .col-2{@include column(6);}
  }
  .totals{@include column(4);}
}

/* Cross Sell*/
#crosssell-products-list li{
  @include innerRow();
  .product-image-container{@include column(4);}
  .product-details{ @include column(8); }
}

/* Footer */
.footer-container{
  width:100%;
  .footer{ @include outerRow(); }
}
/* ======================================================================================= */