<?php
$_cartSummary = Mage::getSingleton('checkout/cart')->getItemsCount();
?>
<p>
    <i class="fi-shopping-cart"></i>
    <a class="" href="<?php echo $this->getUrl('checkout/cart') ?>">Your Cart (<?php echo $_cartSummary ?>)</a> |
    <a class="" href="<?php echo $this->getUrl('checkout/onepage')?>">Vai alla cassa</a>
</p>