#cart-modalbox {
  text-align: center;
  h3{font-size:23px;}
  .icon:before{ content:'\f1b1'; font-family:foundation-icons;}
  .message{}
  .buttons-set, #close-button{ display:none; }
  .response{display:none;}

  &.success{
    background-color:green; color:white;
    .icon:before{ content:'\f126'; font-family:foundation-icons;}
    .response{display:block;}
    .message{display: none;}
    h3{color:white;}
    img{display:none;}
    .buttons-set { display:block; }
  }

  &.error{
    background-color:red; color:white;
    .icon:before{ content:'\f101'; font-family:foundation-icons;}
    .message{display: none;}
    h3{color:white;}
    img{display:none;}
    #close-button{ display:block; }
    .response{display:block;}
  }
}