/*cookie special box*/
#cookies-eu{
  @include outerRow();
  background-color: #333;
  @include opacity(0.9);
  text-align: center;
  color:white;
  padding:10px;
  text-transform: capitalize;
  position:fixed;
  bottom:0;
  z-index:10000;

  &:hover{
    @include opaque;
  }
}