/* Regento Stickers */
.sticker-wrapper{
  position:absolute; z-index: 99;
  & img { width:48px; }
  &.top-right{ top:-3px; right:-3px; }
  &.top-left{ top:-3px; left:-3px; }
  &.top-right{ top:-3px; right:-3px; }
  &.bottom-left{ left:-3px; bottom:-3px; }
  &.bottom-right{ right:-3px; bottom:-3px; }
}