/* Category Page ========================================================================= */
.category-title { }
.category-image { }
.category-image img { }
.category-description { }
.category-products { }
.category-products h2{ color:$mainColor; display:block; }
.category-products .products-grid-container { margin:10px 0 30px; border-bottom: 1px solid $mainColor; }

/* View Type: Grid */
.products-grid { }
.products-grid.last { }
.products-grid li.item { text-align: center; }
.products-grid .product-image { display:block; position:relative; margin-top:5px;}
.products-grid .product-name { font-size:ms(2); }
.products-grid .product-name a { color:#333; }
.products-grid .price-box { margin:5px 0; font-weight: bold; }
.products-grid .availability { }
.products-grid .actions { text-align: center; }
.col2-left-layout .products-grid,
.col2-right-layout .products-grid { }
.col1-layout .products-grid { }

/* View Type: List */
.products-list li.item { margin:10px 0; border-bottom: 1px solid #ddd;}
.products-list li.item.last { }
.products-list .product-image { }
.products-list .product-shop { }
.products-list .product-name { font-size:ms(2);}
.products-list .product-name a { color:#333; }
.products-list .price-box { font-weight: bold; margin:5px 0;}
.products-list .availability { }
.products-list .desc { }
.products-list .desc .link-learn { text-align: right; text-transform: uppercase; display: block; margin:5px;font-size:ms(0); }
.products-list .add-to-links { }
.products-list .add-to-links li { display: inline; margin-right: 10px;text-align: left;text-transform: uppercase; }
.products-list .add-to-links .separator { }
.products-list .product-box{margin:5px 0; border-bottom:1px solid #ddd;}
/* ======================================================================================= */