/* Global Styles ========================================================================= */
/* Form Elements */
input,select,textarea,button { }
input.input-text,select,textarea { }
input.input-text,textarea { }
select { background-color: $inputBgColor; font-family: inherit; border: $inputBorderWidth $inputBorderStyle $inputBorderColor; @include border-radius($inputBorderRadius); @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1)); color: $inputFontColor; display: block; font-size: $inputFontSize; margin: 0 0 $formSpacing 0; padding: ($formSpacing / 2); height: (ms(0) + ($formSpacing * 1.5)); width: 100%; @include transition(all 0.15s linear);}
select option { }
select.multiselect option { }
select.multiselect option:last-child { }
textarea { }
input.radio { }
input.checkbox { }
input.qty { }
button.button::-moz-focus-inner { } /* FF Fix */
button.button { } /* <- Safari & Google Chrome Fix */
button.button { font-weight: normal; }
button.button span { }
button.button span span { }
button.disabled span { }

button.btn-checkout span { }
button.btn-checkout span span { }
button.btn-checkout.no-checkout span { }
button.btn-checkout.no-checkout span span { }

p.control input.checkbox,
p.control input.radio { }
/* Form Highlight */
input.input-text:focus,select:focus,textarea:focus { }
/*.highlight { }*/

/* Form lists */
/* Grouped fields */
/*.form-list { }*/
.form-list li { }
.form-list label { }
.form-list label.required { }
.form-list label.required em { color:$alertColor; }
.form-list li.control label { }
.form-list li.control input.radio,
.form-list li.control input.checkbox { }
.form-list li.control .input-box { }
/*.form-list li.fields { }*/
.form-list .input-box { }
.form-list .field { }
.form-list input.input-text { }
.form-list textarea { }
.form-list select { }
.form-list li.wide .input-box { }
.form-list li.wide input.input-text { }
.form-list li.wide textarea { }
.form-list li.wide select { }
.form-list li.additional-row { }
.form-list li.additional-row .btn-remove { }
.form-list .input-range input.input-text { }

.form-list-narrow li  { }
.form-list-narrow li .input-box { }
.form-list-narrow li.wide .input-box { }
.form-list-narrow li.wide input.input-text,
.form-list-narrow li.wide textarea { }
.form-list-narrow li.wide select { }

/* Customer */
.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box { }

.form-list .name-prefix { }
.form-list .name-prefix select { }
.form-list .name-prefix input.input-text { }

.form-list .name-suffix { }
.form-list .name-suffix select { }
.form-list .name-suffix input.input-text { }

.form-list .name-middlename { }
.form-list .name-middlename input.input-text { }

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname { }
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text { }
.form-list .customer-name-prefix-middlename-suffix .name-lastname { }
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { }

.form-list .customer-name-prefix-suffix .name-firstname { }
.form-list .customer-name-prefix-suffix .name-lastname { }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { }

.form-list .customer-name-prefix-suffix .name-firstname { }
.form-list .customer-name-prefix-suffix .name-lastname { }
.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { }

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname { }

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname { }

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text { }

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year { }
.form-list .customer-dob input.input-text { }
.form-list .customer-dob label { }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { }
.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { }
.form-list .customer-dob .dob-year { }
.form-list .customer-dob .dob-year input.input-text { }

/* Independent fields */
/*.form-list li { }
.form-list li.fields { }
.form-list .field { }
.form-list li.control { }
.form-list label { }
.form-list label.required { }
.form-list label.required em { }
.form-list .input-box { }
.form-list input.input-text,
.form-list textarea { }
.form-list select { }
.form-list li.additional-row { }
.form-list li.additional-row .btn-remove { }
.form-list .input-range input.input-text { }*/
/* Customer */
/*.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year { }
.form-list .customer-dob input.input-text { }
.form-list .customer-dob label { }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { }
.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { }
.form-list .customer-dob .dob-year { }
.form-list .customer-dob .dob-year input.input-text { }*/

.buttons-set { }
.buttons-set p.required { }
.buttons-set .back-link { float:left; }
.buttons-set button.button { float:right; }

.buttons-set-order { }
.buttons-set-order .please-wait { }

.fieldset { border:none; padding:0; margin:0; }
.fieldset .legend { }

/* Form Validation */
.validation-advice { }
.validation-failed { }
.validation-passed { }
p.required { }
/* Expiration date and CVV number validation fix */
.v-fix { }
.v-fix .validation-advice { }

/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }

.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:24px !important; padding:8px 8px 8px 32px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; font-size:ms(4); }
.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; font-size:ms(4); }
.success-msg span:before{ font-family:'foundation-icons'; font-size:ms(4); content:"\f126";vertical-align: middle; padding:5px; }
.error-msg span:before{ font-family:'foundation-icons'; font-size:ms(4); content:"\f217";vertical-align: middle; padding:5px; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; background-image:url(../images/i_msg-note.gif); color:#3d6611; }

/* BreadCrumbs */
ul.breadcrumbs { border: none; background-color: transparent; margin-bottom:10px;}
.breadcrumbs li { }
.breadcrumbs li strong { font-weight: 300; }

/* Page Heading */
.page-title { }
.page-title h1,
.page-title h2 { text-align: center; }
.page-title .separator { }
.page-title .link-rss { }
.title-buttons { }
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 { }

.subtitle,
.sub-title { }

/* Pager */
.pager { }
.pager .amount { }
.pager .limiter { }
.pager .limiter label { }
.pager .limiter select { }
.pager .pages { }
.pager .pages ol { }
.pager .pages li { }
.pager .pages .current { }

/* Sorter */
.sorter { }
.sorter .view-mode { }
.sorter .sort-by { }
.sorter .sort-by label { }
.sorter .sort-by select { }
.sorter .link-feed { }

/* Toolbar */
.toolbar { }
.toolbar .pager { }
.toolbar .sorter { }
.toolbar-bottom { }
.toolbar .sub-nav a{@include border-radius(0);}
/* Data Table */
.data-table { width:100%;}
.data-table .odd  { }
.data-table .even { }
/*.data-table tr.odd:hover,
.data-table tr.even:hover { }*/
.data-table td.last,
.data-table th.last { min-width: 100px;}
.data-table tr.last th,
.data-table tr.last td { }
.data-table th { }
.data-table td { }
.data-table img { min-width:150px; width:150px; }

.data-table thead{ @include respondTo(smallScreen){display:none;} }
.data-table td, .data-table th { @include respondTo(smallScreen){display:block; text-align: center;} }

.data-table thead th { }
.data-table thead th.wrap { }
.data-table thead th a,
.data-table thead th a:hover { }
.data-table thead th { }
.data-table thead th .tax-flag { }

.data-table tfoot { }
.data-table tfoot tr.first td { }
.data-table tfoot tr { }
.data-table tfoot td { }
.data-table tfoot strong { }

.data-table tbody th,
.data-table tbody td { }
/* Bundle products tables */
.data-table tbody.odd tr { }
.data-table tbody.even tr { }
.data-table tbody.odd tr td,
.data-table tbody.even tr td { }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { }

.data-table tbody td .option-label { }
.data-table tbody td .option-value { }

/* Generic Info Box */
.info-box { }
.info-box h2 { }

.info-table th { }
.info-table td { }

/* Shopping cart total summary row expandable to details */
tr.summary-total { }
tr.summary-total td { }
tr.summary-total .summary-collapse { }
tr.show-details .summary-collapse { }
tr.show-details td { }
tr.summary-details td { }
tr.summary-details-first td { }
tr.summary-details-excluded { }

/* Shopping cart tax info */
.cart-tax-info { }
.cart-tax-info,
.cart-tax-info .cart-price { }
.cart-tax-total { }
.cart-tax-info .price,
.cart-tax-total .price { }
.cart-tax-total-expanded { }

/* Class: std - styles for admin-controlled content */
.std .subtitle { }
.std ol.ol { }
.std ul.disc { }
.std dl dt { }
.std dl dd { }
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote { }
.std ul { }
.std ol { }
.std ul ul { }
.std ul ul,
.std ol ol,
.std ul ol,
.std ol ul { }
.std dt { }
.std dd { }
.std blockquote { }
.std address { }
.std b,
.std strong { }
.std i,
.std em { }

/* Misc */
.links li { }
.links li.first { }
.links li.last { }

.link-cart { }
.link-wishlist { }
.link-reorder { }
.link-compare { }
.link-print { }
.link-rss { }
.btn-remove  { }
.btn-previous  { }
.btn-remove2 { font-size:0;}
.btn-remove2:before { font-family:'foundation-icons'; font-size:ms(3); vertical-align:middle; content:"\f216"; }
.btn-edit     { }
.btn-edit2    { font-size:0;}
.btn-edit2:before    { font-family:'foundation-icons'; font-size:ms(3); vertical-align:middle; content:"\f184"; }

.cards-list dt { }
.cards-list .offset { }

.separator { }

.divider { }

/* Global site notices */
.global-site-notice { }
.global-site-notice .notice-inner { }
.global-site-notice .notice-inner p { }
.global-site-notice .notice-inner .actions { }

/* Cookie Notice */
.notice-cookie { }

/* Noscript Notice */
.noscript { }

/* Demo Notice */
.demo-notice { }
.demo-notice .notice-inner { }
.demo-notice .notice-inner p { }

/* ======================================================================================= */