/* Product View ========================================================================== */
/* Rating */
.no-rating { margin:0; }

.ratings { font-size:11px; line-height:1.25; margin:7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.ratings .rating-links { margin:0; }
.ratings .rating-links .separator { margin:0 2px; }
.ratings dt {}
.ratings dd {}
.rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.gif) 0 100% repeat-x; }
.ratings .rating-box { display:inline-block; margin:3px 3px 3px 0;}
.ratings .amount {}

.ratings-table th,
.ratings-table td { font-size:11px; line-height:1.15; padding:3px 0; }
.ratings-table th { font-weight:bold; padding-right:8px; }

/* Availability */
.availability { }
.availability span { }
.availability.in-stock span { color:$successColor; }
.availability.out-of-stock span { color: $alertColor; }

.availability-only { }
.availability-only span,
.availability-only a { }
.availability-only a { }
.availability-only .expanded { }
.availability-only strong { }

.availability-only-details { }
.availability-only-details th { }
.availability-only-details td { }
.availability-only-details tr.odd td.last { }

.product-view .product-shop .availability { }
.product-view .product-shop .availability span { }

/* Email to a Friend */
.email-friend { }
.email-friend span:before{
  font-family:foundation-icons;
  content:'\f16d';
  padding:5px;
  font-size:28px;
  vertical-align: middle;
}

/* Alerts */
.alert-price { }
.alert-stock { }

/********** < Product Prices */
.price { }

.price-box { }
.price-box .price { }

/* Regular price */
.regular-price { }
.regular-price .price { }
.block .regular-price,
.block .regular-price .price { }

/* Old price */
.old-price { }
.old-price .price-label { }
.old-price .price { }

/* Special price */
.special-price { }
.special-price .price-label { }
.special-price .price { }

/* Minimal price (as low as) */
.minimal-price { }
.minimal-price .price-label { }

.minimal-price-link { display:block;}
.minimal-price-link .label { }
.minimal-price-link .price { color:green; }

/* Excluding tax */
.price-excluding-tax { }
.price-excluding-tax .label { }
.price-excluding-tax .price { }

/* Including tax */
.price-including-tax { }
.price-including-tax .label { }
.price-including-tax .price { }

/* Configured price */
.configured-price { }
.configured-price .price-label { }
.configured-price .price { }

/* FPT */
.weee { }
.weee .price { }

/* Excl tax (for order tables) */
.price-excl-tax  { }
.price-excl-tax .label { }
.price-excl-tax .price { }

/* Incl tax (for order tables) */
.price-incl-tax { }
.price-incl-tax .label { }
.price-incl-tax .price { }

/* Price range */
.price-from { }
.price-from .price-label { }

.price-to { }
.price-to .price-label { }

/* Price notice next to the options */
.price-notice { display: block; font-weight: bold; text-align: right;}
.price-notice .price { }

/* Price as configured */
.price-as-configured { }
.price-as-configured .price-label { }

.price-box-bundle { }
.price-box-bundle .price-box { }
.price-box-bundle .price { }
/********** Product Prices > */

/* Tier Prices */
.product-pricing,
.tier-prices { }
.tier-prices li { }
.tier-prices .benefit { }
.tier-prices .price { }

.tier-prices-grouped li { }
.tier-prices-grouped li .price { }

/* Add to Links */
.add-to-links { margin:0; }
.add-to-links li {padding:0; margin:0; font-size:ms(0); text-align: center; }
.add-to-links .separator {display: none; }

/* Add to Cart */
.add-to-cart label { }
.add-to-cart .qty { }
.add-to-cart button.button { }
.add-to-cart .paypal-logo { }
.add-to-cart .paypal-logo .paypal-or { }
.product-view .add-to-cart .paypal-logo { }

/* Add to Links + Add to Cart */
.add-to-box { margin-top:5px; border:none; padding:0; background-color:$white;}
.add-to-box .add-to-cart { }
.add-to-box .or { display: none;}
.add-to-box .add-to-links { }
.add-to-box .add-to-links li { }
.add-to-box .add-to-links li .separator { }


.product-view { }

.product-essential { margin-bottom:20px; }
.product-essential h2 { }

.product-collateral { }
.product-collateral h2 { }
.product-collateral .box-collateral { }

/* Product Images */
.product-view .product-img-box {  }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
.product-view .product-img-box .product-image { margin:0 0 13px; }
.product-view .product-img-box .product-image-zoom { position:relative;overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img {}
.product-view .product-img-box .zoom-notice { font-size:ms(0); margin:0 0 5px; text-align:center; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:18px; margin:0 auto 13px; padding:0 28px; background:url(../images/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom.disabled { @include opacity(0.3); }
.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:-1px; width:9px; height:22px; background:url(../images/magnifier_handle.gif) 0 0 no-repeat;  }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:2px; top:0; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:2px; top:0; }
.product-view .product-img-box .more-views h2 { font-size:ms(0); border-bottom:1px solid #ccc; margin:0 0 8px; text-transform:uppercase; }
.product-view .product-img-box .more-views ul { margin-left:-9px }
.product-view .product-img-box .more-views li { float:left; margin:0 0 8px 9px; }
.product-view .product-img-box .more-views li a { float:left; width:56px; height:56px; border:2px solid #ddd; overflow:hidden; }

.product-image-popup { margin:0 auto; }
.product-image-popup .buttons-set { float:right; clear:none; border:0; margin:0; padding:0; }
.product-image-popup .nav { font-weight:bold; margin:0 100px; text-align:center; }
.product-image-popup .image { display:block; margin:10px 0;  }
.product-image-popup .image-label { font-size:ms(0); font-weight:bold; margin:0 0 10px; color:#2f2f2f; }

/* Product Shop */
.product-view .product-shop { }
.col1-layout .product-view .product-shop { }
.col3-layout .product-view .product-shop { }
.product-view .product-shop .product-name { }
.product-view .product-shop .product-name h1 { }
.product-view .product-shop .availability { font-weight: bold; }
.product-view .product-shop .short-description { }
.product-view .product-shop .price-box { font-size:ms(3);}
.product-view .product-shop .add-to-links { }
.product-view .product-shop .add-to-links { }
.product-view .product-shop .add-to-links li,
.product-view .product-shop .add-to-links li .separator { }
.product-view .product-shop .add-to-links a { }

/* Product Options */
.product-options { margin:20px 0 0; padding:10px 15px 20px; position:relative; border:1px solid #e4e4e4; clear:both; }
.product-options dt { padding:10px 0 0; font-weight:normal; }
.product-options dt label { font-weight:bold; color:#2f2f2f; }
.product-options dt label.required em { color:#eb340a; margin-left:5px; }
.product-options dd .qty-holder { display:block; padding:10px 0 0; }
.product-options dd .qty-holder label { vertical-align:middle; }
.product-options dt .qty-disabled { background:none; border:0; padding:3px; color:#2f2f2f; }
.product-options dd { padding:5px 10px 15px; margin:0 0 5px; border-bottom:1px solid #e4e4e4; }
.product-options dl.last dd.last { border-bottom:0; padding-bottom:5px; margin-bottom:0; }
.product-options dd input.input-text { width:98%; }
.product-options dd input.datetime-picker { width:150px; }
.product-options dd .time-picker { display:-moz-inline-box; @include inline-block; padding:2px 0; vertical-align:middle; }
.product-options dd textarea { width:98%; height:8em; }
.product-options dd select { width:99%; height:auto; }
.product-options dd .multiselect option { border-bottom:1px dotted #d9e5ee; padding:2px 4px; }
.product-options ul.options-list { margin-right:5px; }
.product-options ul.options-list li { line-height:1.5; padding:2px 0; border-bottom:1px solid #ddd; }
.product-options ul.options-list input.radio { float:left; margin-top:3px; }
.product-options ul.options-list input.checkbox { float:left; margin-top:3px; }
.product-options ul.options-list .label { display:block; margin-left:25px; background:transparent; text-align:left; }
.product-options ul.options-list label { font-weight:normal; }
.product-options ul.validation-failed { padding:0 7px; }
.product-options p.note { margin:0; font-size:ms(0); }
.product-options p.required {  right:20px; top:20px; }

.product-options-bottom { background-color:#fffada; padding:15px 20px; border:1px solid #e4e4e4; border-top:0; }
.product-options-bottom .product-pricing,
.product-options-bottom .tier-prices { margin:0; padding:0 0 10px; border:0; background:0; color:#e26703; }
.product-options-bottom .tier-prices li { background:0; padding:2px 0; }
.product-options-bottom .tier-prices .price,
.product-options-bottom .tier-prices .benefit { color:#e26703; }
.product-options-bottom .price-box { float:left; margin:0; padding:0; }
.product-options-bottom .add-to-links { clear:both; padding:5px 0 0; text-align:right; }
.col3-layout .product-options-bottom .price-box { float:none; padding:0 0 5px; }
.product-options-bottom .price-label { float:left; padding-right:5px; }
.product-options-bottom .price-tax { float:left; }
.product-options-bottom .add-to-cart { float:right; }
.product-shop .product-options-bottom { margin:0 0 10px; }
.product-shop .product-options-bottom .price-box { float:none; margin:0 0 5px; }
.product-shop .product-options-bottom .price-label { float:none; padding-right:0; }
.product-shop .product-options-bottom .price-tax { float:none; }
.product-shop .product-options-bottom .add-to-cart-box { clear:both; float:left; padding-top:12px; }
.product-shop .product-options-bottom .add-to-links { clear:both; padding:5px 0 0; text-align:right; }


/* Grouped Product */
.product-view .grouped-items-table .price-box { }

/* Block: Description */
.product-view .box-description { }

/* Block: Additional */
.product-view .box-additional .data-table thead{ @include respondTo(smallScreen){display:none; } }
.product-view .box-additional .data-table th,
.product-view .box-additional .data-table td {
  @include respondTo(smallScreen){ display:block; text-align: center; }
}

/* Block: Upsell */
.product-view .box-up-sell h2 { }
.product-view .box-up-sell .products-grid { }
.product-view .box-up-sell .products-grid td { }
.product-view .box-up-sell .products-grid tr.last td { }
.product-view .box-up-sell .products-grid td.last { }
.product-view .box-up-sell .products-grid td img { }
.product-view .box-up-sell .products-grid .product-image { }
.product-view .box-up-sell .products-grid td.empty { }
.product-view .box-up-sell .products-grid .ratings .rating-box { }
#upsell-product-table td{ @include respondTo(smallScreen){ display:block; text-align: center;} }

/* Block: Tags */
.product-view .box-tags { }
.product-view .box-tags h3 { }
.product-view .box-tags .product-tags { }
.product-view .box-tags .product-tags li { }
.product-view .box-tags .product-tags li.first { }
.product-view .box-tags .product-tags li.last { }
.product-view .box-tags .form-add label { }
.product-view .box-tags .form-add .input-box { }
.product-view .box-tags .form-add input.input-text { }
.product-view .box-tags .form-add button.button span { }
.product-view .box-tags .note { }

/* Block: Reviews */
.product-view .box-reviews dl { }
.product-view .box-reviews dt a,
.product-view .box-reviews dt span { }
.product-view .box-reviews dd { }
.product-view .box-reviews dd small { }
.product-view .box-reviews .form-add { }
.product-view .box-reviews .form-add h3 { }
.product-view .box-reviews .form-add h3 span { }
.product-view .box-reviews .form-add h4 { }
.product-view .box-reviews .form-add .data-table td { }
.product-view .box-reviews .form-add .form-list { }
.product-view .box-reviews .form-add .form-list .input-box { }
.product-view .box-reviews .form-add .form-list input.input-text,
.product-view .box-reviews .form-add .form-list textarea { }

/* Send a Friend */
.send-friend .form-list { }
.send-friend .form-list li { }
.send-friend .form-list li p { }
.send-friend .form-list .field { }
.send-friend .form-list .input-box { }
.send-friend .form-list input.input-text,
.send-friend .form-list textarea { }
.send-friend .form-list li.wide .input-box { }
.send-friend .form-list li.wide textarea { }
.send-friend .buttons-set .limit { }
/* ======================================================================================= */
