/* Sidebar =============================================================================== */
.block {margin-top:10px; border: none; background-color: $white;}
.block .block-title { padding:10px 5px; border-bottom:1px solid $mainColor; font-size:ms(2); font-family: "Raleway",sans-serif;}
.block .block-title strong {  font-weight:300; }
.block .block-title strong span { }
.block .block-title a { }
.block .block-subtitle { }
.block .block-content { padding: 5px;}
.block .block-content li.item { padding: 7px 0px;}
.block .block-content .product-name { }
.block .btn-remove,
.block .btn-edit { float:right; font-family: 'foundation-icons'; vertical-align: middle; line-height:1; font-size:0; width:ms(3);}
.block .btn-remove:before{ content:'\f216'; font-size:ms(3);}
.block .btn-edit:before {  content:'\f184'; font-size:ms(3);}
.block .actions { padding:5px 0; border-top:1px solid #ddd; }
.block .actions a { }
.block .actions button.button { float:right; }
.block .empty { }

.block li.odd { }
.block li.even { }

/* Mini Blocks */
.block-cart,
.block-wishlist,
.block-subscribe,
.block-compare,
.block-reorder,
.block-poll,
.block-viewed,
.block-compared,
.block-related,
.block-tags,
.block-login { font-size:11px; line-height:1.25; }
.block-cart .block-title strong,
.block-wishlist .block-title strong,
.block-subscribe .block-title strong,
.block-compare .block-title strong,
.block-reorder .block-title strong,
.block-poll .block-title strong,
.block-viewed .block-title strong,
.block-compared .block-title strong,
.block-related .block-title strong,
.block-tags .block-title strong,
.block-login .block-title strong {  background-position:0 0; background-repeat:no-repeat; }

/* Mini Products List */
.mini-products-list .product-image { float:left; width:50px; border:1px solid #a9a9a9; }
.mini-products-list .product-details { margin-left:60px; }
.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small { word-wrap:break-word; }
.block-cart .mini-products-list .product-details .nobr { white-space:normal !important; }

/* Block: Account */
.block-account { }
.block-account .block-title { }
.block-account .block-title strong { }
.block-account .block-content { }
.block-account .block-content li a { }
.block-account .block-content li a:hover { }
.block-account .block-content li.last a { }
.block-account .block-content li.current { }
.block-account .block-content li.current.last { }

/* Block: Currency Switcher */
.block-currency { }
.block-currency .block-title { }
.block-currency .block-title strong { }
.block-currency .block-content { }
.block-currency .block-content select { }

/* Block: Layered Navigation */
.block-layered-nav { }
.block-layered-nav .block-title { }
.block-layered-nav .block-subtitle { padding: 3px 9px; border-bottom: 1px solid #ddd; border-width: 1px 0; font-style:normal; }
.block-layered-nav .block-content { }
.block-layered-nav dt { }
.block-layered-nav dd { padding:0 12px 12px;}
.block-layered-nav dd.last { }
.block-layered-nav .currently li { }
.block-layered-nav .currently .label { }
.block-layered-nav .currently .value { }
.block-layered-nav .currently .btn-previous,
.block-layered-nav .currently .btn-remove { }
.block-layered-nav .currently .btn-previous { }
.block-layered-nav .actions { font-size: 11px; padding: 4px 5px 4px 9px; border: 1px solid #DEE5E8; border-width: 1px 0; text-align: right; }
.block-layered-nav .actions a { }

/* Block: Cart */
.block-cart .block-title { /*border-bottom:0;*/ }
.block-cart .block-title strong {}
.block-cart .summary { background:#fff; padding:2px 8px 8px; margin:-1px 0 0; position:relative; z-index:1; }
.block-cart .amount { margin:0; }
.block-cart .amount a { font-weight:bold; }
.block-cart .subtotal { margin:5px 0 0; padding:2px 0;  text-align:center; }
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions { border-bottom:1px solid #ddd; text-align: center; padding-bottom:5px; }
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.block-cart .actions .paypal-logo .paypal-or { clear:both; display:block; padding:0 55px 8px 0; }

/* Block: Wishlist */
.block-wishlist .block-title strong { }
.block-wishlist .actions { }
.block-wishlist .actions a { }

/* Block: Related */
.block-related .block-title strong { }
.block-related input.checkbox { float:left; }
.block-related .product { margin-left: 20px; }

/* Block: Compare Products */
.block-compare .block-title strong { }
.block-compare button.button span { }
.page-popup .link-print { }
.compare-table { }
.compare-table thead tr.first th,
.compare-table thead tr.first td { }
.compare-table .btn-remove { }
.compare-table tbody th { }
.compare-table tbody th,
.compare-table tbody td { }
.compare-table tbody td.last { }
.compare-table tbody tr.last th,
.compare-table tbody tr.last td { }
.compare-table tr.add-to-row td { }
.compare-table tr.first td { }
.compare-table tr.first td .product-name { }
.compare-table tr.first td .product-name a { }
.compare-table tr.first td .ratings { }
.compare-table tr.first td p,
.compare-table tr.add-to-row td p { }

/* Block: Recently Viewed */
.block-viewed .block-title strong { }

/* Block: Recently Compared */
.block-compared .block-title strong { }

/* Block: Poll */
.block-poll .block-title strong { }
.block-poll .block-subtitle { font-size:12px; }
.block-poll label { font-weight:bold; background:none; margin:5px; text-align: left; font-weight: normal; }
.block-poll input.radio { float:left; margin:1px -18px 0 0; }
.block-poll .label { display:block; margin-left:18px; background:none;}
.block-poll li { padding:3px 9px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll button.button span {  }
.block-poll .answer { font-weight:bold; }
.block-poll .votes { float:right; margin-left:10px; }

/* Block: Tags */
.block-tags .block-title strong { }
.block-tags .block-content .tags-list { li{display: inline-block;} }
.block-tags .block-content a { }
.block-tags .actions { border-top: 2px solid #DDDDDD; margin-top: 5px; padding: 5px; text-align: right;}
.block-tags .actions a { }

/* Block: Subscribe */
.block-subscribe .block-content { }
.block-subscribe .block-title strong { }
.block-subscribe label { }
.block-subscribe input.input-text { }
.block-subscribe .actions { }
.block-subscribe .actions button.button { }
.block-subscribe .actions button.button span { }

/* Block: Reorder */
.block-reorder .block-title strong { }
.block-reorder input.checkbox { }
.block-reorder .product-name { }
.block-reorder .validation-advice { }

/* Block: Banner */
.block-banner { }
.block-banner .block-content { }

/* Block: Login */
.block-login .block-title strong { }
.block-login .block-content { }
.block-login label { }
.block-login input.input-text { }
.block-login .actions { }
.block-login .actions button.button span { }

/* Paypal */
.sidebar .paypal-logo { }
.sidebar .paypal-logo a { }
/* ======================================================================================= */
