/* Social Media*/
.socialmedia-list li{ display:inline-block; }
.social-icon{
  width:44px; height:44px;
  background-color: #bababa; color:#f5f5f5;
  text-align: center; transition: all 300ms ease-in-out 0s;
    a{ color:#f5f5f5; }
    i{display: block; margin:0; padding: 0; line-height: 1.2; vertical-align: middle; font-size:36px;}
  &:hover{
    background-color: $mainColor;
    a{color:white;}
  }
}

